@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body,html,*{
    margin:0;
    padding:0;
    font-family: Poppins;
}

.container{
    max-width: 90%;
    margin:0 auto
}

header{
    background-color:#1A75C1;
    width: 100%;
}

.logo{
    width: 7.8vw;
    height:2.19vw
}

.navbar{
    display: flex;
    align-items: center;
    height:5.85vw;
}

.search{
    margin-left:2.92vw;
    border-radius: 2.19vw;
    border:none;
    width: 30vw;
    height:2.8vw;
    padding: 0vw 2vw;
}

.search::placeholder, .filter::placeholder{
    color: #A6A6A6;
    font-size: 1.17vw;
}

.search-div, .filter-div{
    position:relative;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.search-div img{
    position: absolute;
    right: 1.46vw;
    top:0.732vw
}

.filter-div{
    margin-left:0.73vw
}

.filter{
    width:15vw;
    height:2.8vw;
    border-radius: 2.19vw;
    border:none;
    padding: 0vw 2vw;
}

.filter-div img{
    position: absolute;
    right: 1.46vw;
    top:0.512vw
}

.avatar, .hamburguer{
    width:2.92vw;
    height:2.92vw;
}

.filter-icon img{
    width:2.7vw;
    height:2.63vw
}

.search-icon{
    width:1.17vw;
    height:1.17vw;
}

.calendar-icon{
    width:1.75vw;
    height:1.75vw;
}

.user-menu-div{
    margin-left:auto;
}

.main-div{
    display: flex;
}

main{
    width: 60%;
    background-color:#EFF3F8
}
aside{
    width:40%;
    background-color: #f8f8f8;
}

main h1{
    text-align: center;
    color:#1A75C1;
    font-size: 4.4vw;
    font-weight: bolder;
    margin-top:1.46vw;
}

main small {
    color:#1A75C1;
    display: block;
    margin-bottom:1.46vw;
    font-size:1.17vw
}

.news-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:-2.19vw
}

.news-div{
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #F2F2F2;
    width: 30%;
    height:30%;
    margin-top:2.19vw;
}

.news-div p{
    text-align: center;
    padding:0vw 0.58vw;
    font-size:1.17vw
}

.news-div div{
    background-color: white;
    height:4vw;
    padding: 0.732vw 0vw;
}

.news-row{
    padding-bottom:4.4vw
}

.load-more{
    margin: auto;
    display: block;
    font-weight: bold;
    font-size: 2.2vw;
    color:#847E7E;
    padding-top:2.9vw
}

aside .aniversary{
    color:#004E8F;
    font-size:2vw;
    padding-top:5.8vw;
    padding-left:2.19vw;
}

aside span{
    color:#004E8F;
    font-size:1.46vw;
    font-weight: bold;
    display: block;
    padding-top:1.46vw;
    padding-left:2.19vw;
}

.person-info{
    padding-left:1.46vw;
}

aside ul li {
    display: flex;
    flex-direction: column;
}

aside ul li .aniversary-div{
    display: flex;
    flex-wrap: wrap;
}

.aniversary-div .person-photo{
    width:6vw
}

aside ul li p{
    color:#004E8F;
    font-weight: 500;
    font-size:1.17vw
}

aside ul li{
    padding-top:3.6vw;
    list-style: none;
}

aside ul li:first-child{
    padding-top:1.46vw;
}

aside ul li p:first-child{
    font-weight: bold;
    font-size:1.46vw;
}

aside ul li button{
    background-color: #1A75C1;
    margin-bottom:1.46vw;
    width:13.5vw;
    color:white;
    padding: 0.439vw 0vw;
    border-radius: 3.2vw;
}

.congrats-button-div{
    align-self: end;
    margin-left:auto
}

.congrats-button-div button{
    font-size:1.17vw
}

.congrats-button-div img{
    width: 1vw;
    height:1vw;
}

aside ul li button img{
    margin-top: 0.36vw;
    margin-right: 0.36vw;
}

.send-message{
    display: block;
    margin-top: 1.46vw;
    border-radius: 2.92vw;
    border-color: #A6A6A6;
    box-shadow:none;
    padding:0.7vw 1.46vw;
    border-style: solid;
    height:2vw
}

.send-message::placeholder{
    color:#A6A6A6;
    font-size:1.17vw
}

.first-ul {
    border-bottom: #004E8F solid 0.2vw;
    padding-bottom: 2.92vw;
}

.next-aniversary{
    display: block;
    margin: 4.39vw auto 0vw auto;
    background-color: #1A75C1;
    color:white;
    padding:0.8vw 0vw;
    border-radius:0.43vw;
    width: 15.3vw;
    font-size:1.17vw
}

aside .events{
    font-size:2.04vw;
    color:#1A75C1;
    padding-left:2.19vw;
    padding-top:1.46vw;
}

.slider{
    padding-left:1.83vw;
    padding-top:1.09vw;
    padding-bottom:2.92vw;
    width: 90%;
    height: 90%;
}

footer ul li{
    list-style: none;
}

footer ul{
    display: flex;
    height:6.2vw;
    justify-content: space-around;
    align-items: center;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size:1.17vw
}

footer ul li img{
    width:1.17vw;
    height:1.17vw
}

input:focus {
    outline: none;
}

@media (max-width:820px){
    .search-div{
        display: none;
    }
    .filter-div{
        display: none;
    }
    .filter-icon{
        display: none;
    }
    .news-div{
        width:45%
    }
}